[submodule "components/ngtcp2/ngtcp2"]
	path = components/ngtcp2/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "components/coreMQTT/coreMQTT"]
	path = components/coreMQTT/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
